* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(250, 250, 250);
}

header{
  background-color: #7952b3;
  color: white;
  padding: 20px 0;
  text-align: center;
}

form{
  text-align: center;
  margin: auto;
}

form button{
  text-transform: uppercase;
  margin: 5px;
  color: white !important;
}

table i{
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
  color: crimson;
}

table tr:hover i{
  opacity: 1;
}

.container{
  min-height: 85.5vh;
}

footer{
  text-align: center;
  background-color: #7952b3;
  color: white;
}

footer a{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 900px) {
  table i{
    opacity: 1;
    transition: all 0.2s;
    cursor: pointer;
    color: crimson;
  }
}